html,body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

canvas {
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#controls {
	width: 300px;
	position: absolute;
	top: 24px;
	right: 24px;
	background: #fff;
	z-index: 1;
	padding: 12px;
	border: 1px solid;
	display:none;
}

#rangeSlider {
	width:270px;
	margin:0 auto;
	height:20px;
	position:relative;
	margin-top:12px;
}

#rangeSliderLabels {
	height: 20px;
	font-size: 14px;
	margin: 0 auto;
}

#minValue {
	float:left;
}
#maxValue {
	float:right;
}

.classRow {
	margin: 12px 0;
	clear: both;
	height: 15px;
}

.checkBoxSelected:before {
	color: black;
	content: "";
	position: absolute;
	top: 0;
	left: 5px;
	width: 3px;
	height: 11px;
	border-width: 0 2px 2px 0;
	border-style: solid;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.radioButtonSelected:before {
	content: "";
	position: absolute;
	background: #000;
	height: 7px;
	width: 7px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	top: 3px;
	left: 3px;
}

.legendSwatch, .classCheckbox {
	height:15px;
	width:15px;
	border:1px solid #000;
	float:left;
	position: relative;
}

.legendSwatch {
	margin-left: 14px;
}

.classCheckbox {
	cursor:pointer;
}
.classLabel {
	float:left;
	margin-left:12px;
}

#layerList {
	position: absolute;
	top: 24px;
	left: 48px;
	background: #fff;
	z-index: 1;
	padding: 12px;
	border: 1px solid;
}

#domainAnalysis {
	padding: 14px 4px;
}

.domainValueResult {
	margin-left: 12px;
	font-weight:bold;
}

.analysisTitle {
	margin:12px 0;
}

.noUi-connect {
	background: #e1a100 !important;
}

.domainButton {
	background: #e1a100;
	padding: 6px 22px;
	color: #fff;
	cursor: pointer;
}

#analysisResults {
	padding:12px;
	position:absolute;
	width: 300px;
	height:400px;
	background:#fff;
	z-index:100;
	left:24px;
	bottom:50px;
	border: 1px solid;
	display:none;
}